{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['mongodb-org'],
        'service': 'mongod',
        'lock_dir': "/var/lock/mongod",
        'logging': {},
        'bind': {
          'address': '127.0.0.1',
          'port': 27017
        },
        'authorization': {},
        'admin': {
          'username': 'root'
        }
    }
}, merge=salt['pillar.get']('mongodb:server')) %}
